.card_game {
  display: flex;
  flex-direction: column;
  margin: 30px;
  align-items: center;
}
.output_game {
  font-family: Hiragino Maru Gothic ProN;
  font-size: 40px;
  margin: 0;
}
.button_game {
  width: 230px;
  height: 70px;
  border: 3px solid black;
  border-radius: 15px;
  font-size: 40px;
  font-family: Hiragino Maru Gothic ProN;
}
.rock {
  background-color: #ab47f5;
  margin: 18px;
}
.paper {
  background-color: #00ffa7;
  margin: 18px;
}
.scissor {
  background-color: #47bff5;
  margin: 18px;
}
