.card {
  display: flex;
  flex-direction: column;
  margin: 80px;
  align-items: center;
}
.button {
  width: 250px;
  height: 80px;
  border: 3px solid black;
  border-radius: 15px;
  font-size: 40px;
  font-family: Hiragino Maru Gothic ProN;
}
.CPU {
  background-color: #ab47f5;
  margin: 25px;
}
.twoPlayer {
  background-color: #00ffa7;
  margin: 25px;
}
