.card_loser {
  display: flex;
  flex-direction: column;
  margin: 30px;
  align-items: center;
}
.output_loser {
  font-family: Hiragino Maru Gothic ProN;
  font-size: 40px;
  margin: 0;
}
.button_loser {
  width: 230px;
  height: 70px;
  border: 3px solid black;
  border-radius: 15px;
  font-size: 40px;
  font-family: Hiragino Maru Gothic ProN;
}
.loser {
  background-color: #ab47f5;
  margin: 18px;
}
.playAgain_loser {
  background-color: #47bff5;
  margin: 18px;
}
