.header {
  display: flex;
  flex-direction: column;
  font-family: Hiragino Maru Gothic ProN;
  font-size: 28px;
}

.first_line {
  display: flex;
  flex-direction: row;
  border: 4px dashed black;
  height: 90px;
}
.heading_first {
  margin: 0px;
  padding-left: 10px;
  width: 250px;
}
.first_div {
  border-left: 4px dashed black;
  height: 86px;
  width: 125px;
}
.second_line {
  display: flex;
  flex-direction: row;
  border-bottom: 4px dashed black;
  border-right: 4px dashed black;
}
.second_div {
  border-right: 4px dashed black;
  border-left: 4px dashed black;
  width: 125px;
}

.heading_second {
  padding-left: 75px;
  margin: 0px;
}
.heading_third {
  margin: 0px;
  text-align: center;
  border-right: 4px dashed black;
  border-left: 4px dashed black;
  border-bottom: 4px dashed black;
}
