.header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  font-family: Hiragino Maru Gothic ProN;
  font-size: 28px;
}

.header > div,
h1 {
  margin: 0;
  border-bottom: black dashed 4px;
  border-right: black dashed 4px;
}

.spacer {
  flex-basis: 25%;
}

.wider_div {
  flex-basis: 75%;
}
.widest_div {
  flex-basis: 100%;
}
.first {
  padding-left: 15px;
}

.second {
  margin: 0px;
  padding-right: 15px;
  text-align: right;
}
.third {
  margin: 0px;
  text-align: center;
  border-right: 4px dashed black;
  border-left: 4px dashed black;
  border-bottom: 4px dashed black;
}
.line_left {
  border-left: 4px dashed black;
}
.line_top {
  border-top: 4px dashed black;
}
